*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
body{
    background-color: #FFFAF0;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #00BFFF;
}
.logo img{
    width: 300px;
}
.nav_links{
    overflow: hidden;
    top:0;
}
.nav_links ul {
    list-style-type:none;
    overflow: hidden;
    }
.nav_links a{
    color: white;
    text-decoration: none;
    padding:  25px 15px;
    display: block;
    font-size:15px;
    font-weight:bold;
        }
.nav_links a:hover{
    background-color: #1E90FF;
    color: yellow;
}
.nav_links li {
    display: inline-block;
    }
.uvod{
    width: 100%;
    height: 100vh;
    }
main{
    background-color: #FFFAF0;
    margin-top: 65px;
}
iframe{
    float: right;
    padding: 15px;
    border: 0; 
    margin-top: -50px;
}
p{
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
}
h1{

}
h2{
    margin-left: 10%;
    font size: 30px;
    padding: 15px;
}
.table{
    margin:auto;
    border: 1px solid;
}
.table th{
    text-align: center;
    border: 1px solid;
    padding: 5px 15px 5px 15px;
}
.table td{
    text-align: right;
    border: 1px solid;
    padding: 10px;
}
